<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

        :root {
            font-size: 0.625em;
        }

        /* 
layout
*/
        html,
        body {
            background-color: palevioletred;
            min-height: 100vh
        }

        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }



        /* 
Counters 
*/

        .menu ol {
            counter-reset: menu;
        }



        /*
Regular menu items
*/

        .menu-item a {
            display: flex;
            justify-content: flex-start;
            /*shrink towards text*/
            color: currentColor;
            text-decoration: none;
            padding: 0.3rem 0;
            /* avoid flickin' */
            order: 0;
        }

        .menu-item a::before {
            /* dots */
            content: "";
            display: block;
            border-bottom: 1px dotted black;
            position: relative;
            top: -3px;
            flex: 1 1 auto;
            margin: 0 1rem;
            order: 1;
        }

        .menu-item a::after {
            /* item ids */
            counter-increment: menu;
            content: counters(menu, ".");
            flex: 0 0 auto;
            order: 2;
            transform: rotate(30deg)scale(1.2);
            text-decoration: underline;
        }



        /* 
Sub menu & items
*/

        .sub-menu {
            font-size: 1.6rem;
            font-weight: normal;
        }

        .sub-menu>li>a {
            text-indent: 0ch;
            /*
    Chrome indentS the "dots" elm, i.e. it counts pseudo-elm.
    FF and Edge indents first non pseudo-elm. 
    Turn it off for consistency.
  */
            padding: 0.5rem 0 0.5rem 2ch;
            margin: 0;
        }



        /*
Main menu
*/

        .menu {
            width: 32vw;
            min-width: 30ch;
            display: flex;
            flex-flow: column nowrap;
            font: bold 4.4rem/1 'IM Fell English SC', serif;
            position: relative;
            transform: rotate(-30deg);
        }

        .menu::before {
            content: "/";
            align-self: center;
            transform: rotate(30deg);
            margin-bottom: 1rem;
        }

        .menu::after {
            content: "/";
            align-self: center;
            transform: rotate(30deg);
            margin-top: 1rem;
        }



        /*
Fx
*/

        .menu {
            transition: transform 0.3s;
        }

        .menu:hover {
            transform: rotate(0);
        }

        .menu::before {
            transition: transform 0.5s;
        }

        .menu:hover::before {
            transform: rotate(0);
            content: "AQWAVE";
        }

        .menu::after {
            transition: transform 0.5s;
        }

        .menu:hover::after {
            transform: rotate(0);
            content: "BY AGTECH";
        }

        .menu .menu-item a::after {
            transition: transform 0.3s
        }

        .menu:hover .menu-item a::after {
            transform: rotate(0)
        }

        .menu:hover>ol>.menu-item {
            opacity: 0.3;
        }

        .menu-item:hover {
            transition: background-color 0.3s;
            background: rgba(148, 197, 15, 0.464);
            opacity: 1 !important;
        }

        .menu-item:hover a::after {
            text-decoration: none;
        }

        .menu-item:hover>a::before {
            transition: flex-grow 0.3s;
            width: 0;
            flex-grow: 0;
            transform-origin: center bottom;
        }

        /*
Collapse
*/

        .sub-menu>.menu-item {
            max-height: 1ch;
            transform: scaleY(0.1);
            transform-origin: center top;
            transition: transform 0.2s, max-height 0.7s;
        }

        .menu:hover .sub-menu .menu-item {
            max-height: 10em;
            transform: scaleY(1);
        }
    </style>

    <title>AQWave Tech Wave</title>
    <style>
        .loader {
            background: #000;
            background: radial-gradient(#222, #000);
            bottom: 0;
            left: 0;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 99999;
        }

        .loader-inner {
            bottom: 0;
            height: 60px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
        }

        .loader-line-wrap {
            animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
            box-sizing: border-box;
            height: 50px;
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            transform-origin: 50% 100%;
            width: 100px;
        }

        .loader-line {
            border: 4px solid transparent;
            border-radius: 100%;
            box-sizing: border-box;
            height: 100px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
        }

        .loader-line-wrap:nth-child(1) {
            animation-delay: -50ms;
        }

        .loader-line-wrap:nth-child(2) {
            animation-delay: -100ms;
        }

        .loader-line-wrap:nth-child(3) {
            animation-delay: -150ms;
        }

        .loader-line-wrap:nth-child(4) {
            animation-delay: -200ms;
        }

        .loader-line-wrap:nth-child(5) {
            animation-delay: -250ms;
        }

        .loader-line-wrap:nth-child(1) .loader-line {
            border-color: hsl(0, 80%, 60%);
            height: 90px;
            width: 90px;
            top: 7px;
        }

        .loader-line-wrap:nth-child(2) .loader-line {
            border-color: hsl(60, 80%, 60%);
            height: 76px;
            width: 76px;
            top: 14px;
        }

        .loader-line-wrap:nth-child(3) .loader-line {
            border-color: hsl(120, 80%, 60%);
            height: 62px;
            width: 62px;
            top: 21px;
        }

        .loader-line-wrap:nth-child(4) .loader-line {
            border-color: hsl(180, 80%, 60%);
            height: 48px;
            width: 48px;
            top: 28px;
        }

        .loader-line-wrap:nth-child(5) .loader-line {
            border-color: hsl(240, 80%, 60%);
            height: 34px;
            width: 34px;
            top: 35px;
        }

        @keyframes spin {

            0%,
            15% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body onload="func()">

    <div class="loader" id="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>


    <nav class="menu">
        <ol>
            <li class="menu-item"><a href="/home.html">Home</a></li>
            <li class="menu-item"><a href="/about.html">About</a></li>
            <li class="menu-item">
                <a href="#0">APIs</a>
                <ol class="sub-menu">
                    <li class="menu-item"><a href="/chatbot.html">CHATBOT</a></li>
                    <li class="menu-item"><a href="/newspage">NEWS</a></li>
                    <li class="menu-item"><a href="/games.html">GAMES</a></li>
                </ol>
            </li>
            <li class="menu-item">
                <a href="#0">Entertainment</a>
                <ol class="sub-menu">
                    <li class="menu-item"><a href="#0">Movies</a></li>
                    <li class="menu-item"><a href="#0">Animes</a></li>
                    <li class="menu-item"><a href="#0">INFOtainment</a></li>
                </ol>
            </li>
            <li class="menu-item"><a href="#0">Contact</a></li>
        </ol>
    </nav>
    <script>
        var load = document.getElementById('loader')
        function func() {
            load.remove()
        }
    </script>
</body>

</html>